@model IEnumerable<CetBookStore.Models.Category>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<header>


        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var item in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" > @Html.DisplayFor(modelItem => item.Name)</a>
                            </li>

                        }

                        </ul>
                </div>
            </div>
        </nav>


    
</header>
<p>
    <a asp-action="Create">Yeni Kayıt Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>




        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
